// Check fields
{{toSingular (toLowerCamelCase .MessageName)}}

{{ range .Fields }}
    {{if .IsTimestamp}}// timestamp{{end}}
    {{if .IsRepeated}}// repeated{{end}}
    {{if .IsOptional}}// optional{{end}}
    {{ toLowerCamelCase .FieldName }}: {{ .DataTypeName }},
{{ end }}

// Check parents messages
{{ range .Parents }}
    {{ toSingular (toLowerCamelCase .MessageName) }}Id:string,
{{ end }}


// Check itemMessages
{{ range .ItemMessages }}
{{.MessageName}}
{{ range .Fields }}
    {{ toLowerCamelCase .FieldName }}: {{ .DataTypeName }},
{{ end }}
{{ end }}

// Check message children
{{ range .Children }}
{{.MessageName}}
{{ range .Fields }}
    {{ toLowerCamelCase .FieldName }}: {{ .DataTypeName }},
{{ end }}
{{ end }}
